# Python
venv/
__pycache__/
*.pyc

# ML models
*.pth
*.pt
*.onnx
models/

# Environment variables
.env
.env.*
.env.local
backend/.env
frontend/.env

# Node
node_modules/
dist/
frontend/dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

*.zip